//META{"name":"Sleek","description":"Esbee's Custom Discord Skin!"}*//{}
/* "Sleek v1" by KonekoSenpai */
/* Based on "ClearVision_Sapphire v5" by @Zerthox */

/* IMPORT CSS FROM GITHUB */
@import url(https://github.com/KonekoSenpai/Esbee-s-Discord-Skin/edit/master/Institution.theme.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: This got really easy after doing Delerium's Skin!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Twitter: http://twitter.com/KonekoSenpaiii
Discord: https://discordapp.com/invite/ges6fV8
Twitch: http://twitch.tv/KonekoSenpaiii
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #39aca7;
	--hover-color: #1b1b1b;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://raw.githubusercontent.com/KonekoSenpai/Esbee-s-Discord-Skin/master/eye.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
	background-size: 768px 1024px !important;
	background-position: center !important;
	
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
