//META{"name":"slaq","description":"My Custom Discord Skin. Kill yourself @me."}*//{}
/* "slaq v1" by KonekoSenpai */
/* Based on "ClearVision_Sapphire v5" by @Zerthox */

/* IMPORT CSS FROM GITHUB */
@import url(https://raw.githubusercontent.com/KonekoSenpai/My-Custom-Skin/master/Koneko.theme.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: This got really old!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Twitter: http://twitter.com/KonekoSenpaiii
Discord: https://discordapp.com/invite/ges6fV8
Twitch: http://twitch.tv/KonekoSenpaiii
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #00e4ff;
	--hover-color: #00e4ff;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://raw.githubusercontent.com/KonekoSenpai/My-Custom-Skin/master/slaq.png) !important; /* IMPORTANT: Link must be HTTPS! */
	background-size: 1920px 1080px !important;
	background-position: center !important;
	
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
